<h1><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hey! Hellow World.</h1>

<p>Welcome to my page! </br> I'm Peng, a Java programmer from <img src="assets/china.svg"/><b>China</b>. </p>
<h3>Things I code with</h3>
<p>
    <img alt="Java" src="https://img.shields.io/badge/-Java-007396?style=flat-square&logo=java&logoColor=white" />
    <img alt="Spring" src="https://img.shields.io/badge/-Spring-6DB33F?style=flat-square&logo=spring&logoColor=white" />
    <img alt="MySQL" src="https://img.shields.io/badge/-MySQL-4479A1?style=flat-square&logo=mysql&logoColor=white" />
    <img alt="Redis" src="https://img.shields.io/badge/-Redis-DC382D?style=flat-square&logo=redis&logoColor=white" />
    <img alt="RabbitMQ" src="https://img.shields.io/badge/-RabbitMQ-FF6600?style=flat-square&logo=rabbitmq&logoColor=white" />
    <img alt="MyBatis" src="https://img.shields.io/badge/-MyBatis-000000?style=flat-square&logo=MyBatis&logoColor=white" />
    <img alt="Python" src="https://img.shields.io/badge/-Python-3776AB?style=flat-square&logo=python&logoColor=white" />
    <img alt="C++" src="https://img.shields.io/badge/-C++-00599C?style=flat-square&logo=c%2B%2B&logoColor=white" />
    <img alt="C#" src="https://img.shields.io/badge/-C%23-239120?style=flat-square&logo=c-sharp&logoColor=white" />
    <img alt="PHP" src="https://img.shields.io/badge/-PHP-777BB4?style=flat-square&logo=php&logoColor=white" />
    <img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
    <img alt="Git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
    <img alt="Linux" src="https://img.shields.io/badge/-Linux-FCC624?style=flat-square&logo=linux&logoColor=black" />
    <img alt="IntelliJ IDEA" src="https://img.shields.io/badge/-IntelliJ%20IDEA-000000?style=flat-square&logo=intellij-idea&logoColor=white" />
    <img alt="WebStorm" src="https://img.shields.io/badge/-WebStorm-000000?style=flat-square&logo=webstorm&logoColor=white" />
    <img alt="Unity" src="https://img.shields.io/badge/-Unity-000000?style=flat-square&logo=unity&logoColor=white" />
    <img alt="VSCode" src="https://img.shields.io/badge/-VSCode-007ACC?style=flat-square&logo=visual-studio-code&logoColor=white" />
    <img alt="Postman" src="https://img.shields.io/badge/-Postman-FF6C37?style=flat-square&logo=postman&logoColor=white" />
</p>
<h3>Open source projects</h3>
<table>
  <thead align="center">
    <tr border: none;>
        <td><b>💻 Projects</b></td>
        <td><b>⭐ Stars</b></td>
        <td><b>📚 Forks</b></td>
        <td><b>🛎 Issues</b></td>
        <td><b>📬 Pull requests</b></td>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td><a href="https://github.com/penjc/cityU-navigator"><b>CityU Navigator</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/penjc/cityU-navigator?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/penjc/cityU-navigator?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/penjc/cityU-navigator?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/penjc/cityU-navigator?style=flat-square&labelColor=343b41"/></td>
  </tr>
  <tr>
      <td><a href="https://github.com/ocademy-ai/machine-learning"><b>Machine Learning</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/ocademy-ai/machine-learning?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/ocademy-ai/machine-learning?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/ocademy-ai/machine-learning?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/ocademy-ai/machine-learning?style=flat-square&labelColor=343b41"/></td>
  </tr>
  </tbody>
</table>
<h3>My GitHub Stats</h3>
<p align="center">
  <img src="https://github-readme-stats.vercel.app/api?username=penjc&show_icons=true&theme=highcontrast&count_private=true" alt="GitHub Stats" width="400px" />
  <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=penjc&layout=compact&theme=highcontrast&hide=jupyter%20notebook,less" alt="Top Languages" width="400px" />
</p>
<h3>Welcome to <img src="assets/shanghai.svg" width="13" alt="Shanghai"/> Shanghai!</h3>
<ul>
  <li>Temperature: {{shanghai_temperature}}°C</li>
  <li>Weather: {{shanghai_weather}}</li>
  <li>Wind: {{shanghai_wind_direction}}, {{shanghai_wind_speed}}</li>
</ul>
<h3>Where to find me</h3>
<p><a href="https://github.com/penjc" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a>
</p>
<p>
  If you like what I do, maybe consider buying me a coffee/tea 🥺👉👈
</p>
<p>
  <a href="https://buymeacoffee.com/penjc" target="_blank">
    <img src="https://cdn.buymeacoffee.com/buttons/v2/default-red.png" alt="Buy Me A Coffee" width="150" />
  </a>
</p>
------------
<p align="center">This <i>README</i> file is generated <b>every 3 hours</b>!</p>
<p align="center">
    <img src="https://github.com/penjc/penjc/workflows/README%20build/badge.svg" />
    <img src = "https://komarev.com/ghpvc/?username=penjc&style=plastic&color=blueviolet" alt = "Profile Views"/>
</p>
